%h1 Articles#index
-# = will_paginate
%table
  %tr

  - @articles.each do |article|
    %tr
      %td
        %img.img-thumbnail{salt: article.title, src: article.main_image}
      %td= article.title
      %td= article.body
      %td= link_to 'Show', article_path(article)
      %td= link_to 'Edit', edit_article_path(article)
-# = will_paginate
