%h1 Articles#show

%p
  %strong Title:
  = @article.title
%p
  %strong Body:
  = @article.body
%p
  %strong Zdjęcia:
  .col-4
    - @article.images.each do |image|
      %img.img-thumbnail{:alt => "bezpieczna przystań", :src => image.image_url}
