#facebook_slider_widget{:style => "display: none"}
  %script{:src => "http://webfrik.pl/widget/facebook_slider.html?fb_url=https://www.facebook.com/dom.tymczasowy.bezpieczna.przystan/&fb_width=400&fb_height=590&fb_faces=true&fb_stream=true&fb_header=true&fb_border=true&fb_theme=light&chx=787&speed=FAST&fb_pic=sign&position=LEFT", :type => "text/javascript"}
