%nav.navbar.navbar-bottom.navbar-dark.bg-success
  %navbar-brand.mx-auto.text-center
    .p.font-weight-bolder Dom tymczasowy dla zwierząt
    .p.font-weight-bolder Bezpieczna Przystań

    .p Linarczyk 13C
    .p 86-300 Grudziądz

    .p Email: info@bezpiecznaprzystan.pl
    .p Telefon: 757 577 543

    .p Numer konta bankowego:
    .p.font-weight-bold 10 1010 2300 0026 1395 1000 0025 2183
