%nav.navbar.navbar-expand-lg.navbar-dark.bg-success
  %a.navbar-brand{:href => "#"}
    %img.d-inline-block.align-top{:alt => "", :height => "30", :src => "logo.png", :width => "30"}/
    Bezpieczna Przystań
%p.notice= notice
%p.alert= alert
