%h1 Animals#index
%p
.card-deck
  - @animals.each do |animal|
    .col-3
      .card
        = link_to animal_path(animal) do
          %img.card-img-top{alt: "#{animal.name}", src: animal.main_image}/
          .card-body
            %h5.card-title="#{animal.name}"
.row
  = link_to "Dodaj zwierzę", new_animal_path, type: 'button', class: 'btn btn-success btn-lg'
